@import './colors';

$padding: 40px;
$padding-small: 20px;
$padding-small-1: 10px;

$radius: 4px;
$radius-small: 2px;

$size-1: 40px;
$size-2: 36px;
$size-3: 32px;
$size-4: 24px;
$size-5: 16px;
$size-6: 12px;
